/* ================================
   FOOTER
   ================================ */
.footer {
  width: 393px;
  height: 210px;
  background-color: var(--color-yellow-light);
  position: relative; 
  font-family: var(--font-primary);
  color: var(--color-text-main);
}


.footer__top {
  position: relative;
}

.footer__logo {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 74px;
  height: 75px;
}

.footer__title {
  position: absolute;
  top: 48px;
  left: 233px;
  width: 62px;
  height: 9px;
  font-size: var(--fs-xxs); 
  font-weight: var(--fw-regular);
  line-height: 1.29; 
  text-align: center;
}


.footer__socials {
  position: absolute;
}

.footer__socials a {
  position: absolute;
  display: inline-block;
}


.footer__socials a[aria-label="Email"] {
  top: 79px;
  left: 163px;
  width: 24px;
  height: 18px;
}

.footer__socials a[aria-label="YouTube"] {
  top: 80px;
  left: 207px;
  width: 24px;
  height: 18px;
}

.footer__socials a[aria-label="Instagram"] {
  top: 76px;
  left: 252px;
  width: 24px;
  height: 24px;
}

.footer__socials a[aria-label="TikTok"] {
  top: 77px;
  left: 294px;
  width: 24px;
  height: 24px;
}

.footer__socials a[aria-label="Facebook"] {
  top: 76px;
  left: 335px;
  width: 24px;
  height: 24.42px;
}

.footer__links {
  position: absolute;
  top: 121px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.footer__link {
  font-size: var(--fs-xxs);
  font-weight: var(--fw-regular);
  line-height: 1.29;
  text-align: center;
  color: var(--color-text-main);
  text-decoration: none;
}


.footer__bottom {
  position: absolute;
  top: 181px;
  left: 20px;
  width: 350px;
  font-size: var(--fs-xxs);
  line-height: 1.29;
  color: var(--color-text-main);
}

.footer__bottom a {
  color: var(--color-text-main);
  text-decoration: underline;
}
