/* ===== HEADER ===== */
.header {
  width: 100%;
  max-width: 393px;
  height: 116px;
  background-color: var(--color-bg-header);
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 21px 17px 0 17px;
  box-sizing: border-box;
}


.header__logo {
  width: 74px;
  height: 75px;
  object-fit: contain;
}


.header__menu-btn {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 24px;
  left: 322px;
  background: none;
  border: none;
  cursor: pointer;
}


.header__menu {
  position: absolute;
  top: 116px;
  left: 0;
  width: 100%;
  background: var(--color-bg-menu);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 21px 0 0 0;
  box-sizing: border-box;
  z-index: 1000;
}


.header__menu-close {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 22px;
  left: 337px;
  cursor: pointer;
}


.menu__item {
  width: 100%;
  height: 32px;
  padding-left: 39px;
  display: flex;
  align-items: center;
  font-family: var(--font-primary);
  font-size: 24px;
  font-weight: var(--fw-regular);
  color: var(--color-text-main);
  cursor: pointer;
}


.header__menu[hidden] {
  display: none;
}


.header__menu.show {
  animation: slideDown 0.3s ease forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
