/* ==========================
   Mobile Menu
   ========================== */
.header__menu {
  position: fixed;      
  top: 0;
  left: 0;
  width: 100vw;       
  height: 100vh;         
  background-color: var(--color-bg-menu); 
  display: flex;
  flex-direction: column;
  padding-top: 116px;   
  z-index: 1000;
}


.menu__close-btn {
  position: absolute;
  top: 138px; 
  left: 337px; 
  width: 22px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
}


.menu__list {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  gap: 8px;
}


.menu__item {
  width: 100%;
  height: 78px;
  background: var(--gradient-menu);
  display: flex;
  align-items: flex-start;
  padding-left: 39px;   
  padding-top: 23px;  
  box-sizing: border-box;
}


.menu__link {
  font-family: var(--font-primary);
  font-size: var(--fs-xl);
  font-weight: var(--fw-regular);
  line-height: normal;
  color: var(--color-text-main);
  text-decoration: none;
}


.menu__item:hover {
  opacity: 0.9;
}


