/* ===== STARS ===== */
.stars-row {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.stars-row img {
  width: 30px;
  height: 30px;
}

/* ===== INFOS SECTIONS ===== */
.infos-section {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  text-align: left;
}

.infos-section__title {
  width: 243px;
  height: 51px;
  margin: 18px auto 0;
  border-radius: 20px;
  background: linear-gradient(90deg, #FDF3CD 0%, #FFF9AB 47%, #F0DDC8 100%);
  box-shadow: 3px 7px 14px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-serif);
  font-size: 20px;
  color: var(--Jaune-Text, #FFD226);
}

.infos-section__text {
  width: 100%;
  max-width: 327px;
  margin-top: 18px;
  font-family: var(--font-serif);
  font-size: 14px;
  color: #534F4B;
  line-height: 1.3;
}

/* ===== LISTS ===== */
.infos-list {
  list-style: none;
  padding: 0;
  margin: 12px 0;
}

.infos-list li {
  margin-bottom: 12px;
  font-family: var(--font-serif);
  font-size: 14px;
  color: #534F4B;
}

/* ===== FAQ ===== */
.infos-faq {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
}

.infos-faq h2 {
  width: 243px;
  height: 51px;
  margin: 18px auto 0;
  border-radius: 20px;
  background: linear-gradient(90deg, #FDF3CD 0%, #FFF9AB 47%, #F0DDC8 100%);
  box-shadow: 3px 7px 14px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-serif);
  font-size: 20px;
  color: var(--Jaune-Text, #FFD226);
  margin-bottom: 14px;
}

.faq-item {
  margin-top: 7px;
  
}

.faq-item__block {
  width: 351px;
  height: 72px;
  border-radius: 20px;
  background: #F8EEE2;
  margin-top: 4px; 
  padding: 7px 18px; 
  display: flex;
  align-items: center;
  font-family: var(--font-serif);
  font-size: 14px;
  color: #534F4B;
  line-height: 1.3;
}


.faq-question {
  font-weight: bold;
  margin-bottom: 4px;
}

.faq-answer {
  font-weight: normal;
  margin: 0;
}
